*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.center_block{
    margin: 0 auto;
    max-width: 1440px;
}
.header{
    padding: 0.5em 1em;
    border: 1px solid grey;
}
.basket{
    display: flex;
    justify-content: flex-end;
}
.btn_cart{
    padding: 0.2em 0.5em;
    background-color: white;
    border-radius: 50px 50px;
}
.main{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    min-height: 100vh;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1440px;
    padding: 2em;
}
.product_item{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: white;
    margin: 1em;
}
.title{
    padding-top: 0.5em;
}
.price{
    padding: 0.5em 0;
}
.buy_btn{
    padding: 0.2em 0.5em;
    background-color: white;
    border-radius: 50px 50px;
}