*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.center_block{
    margin: 0 auto;
    max-width: 1440px;
}
.header{
    padding: 0.5em 1em;
    border: 1px solid grey;
}
.basket{
    display: flex;
    justify-content: flex-end;
}
.btn-cart{
    padding: 0.2em 0.5em;
    background-color: white;
    border-radius: 50px 50px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: transparent;
}

.main{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    min-height: 100vh;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1440px;
    padding: 2em;
}
.product-item{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background-color: white;
    margin: 1em;
}
.title{
    padding-top: 0.5em;
}
.price{
    padding: 0.5em 0;
}
.buy-btn{
    padding: 0.2em 0.5em;
    background-color: white;
    border-radius: 50px 50px;
}
.cart{
    position: relative;
}
.cart-block{
    background-color: white;
    box-sizing: border-box;
    right: 0;
    position: absolute;
    padding: 20px;
    width: 300px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 30px;
}